
/*LEFT CUSTOM APPLET >>>>>*/

div[id="s_S_A3_div"], div[id="s_S_A3_div"] form[name="SWEForm3_0"] div[class="AppletBack AppletHIFormBorder"] div[class="siebui-applet-header siebui-collapsible AppletButtons siebui-form-applet-header siebui-collapsible-applet-header"] {
  background: white !important;
}

.Custom-Button-talking {
  border-radius: 5px;
  width: 250px;
  height: 50px;
  text-align: left;
  padding: 10px;
  background: url(../../IMAGES/custom/rightButton.png)  90% no-repeat, rgba(230, 230, 235, .5);
  background-size: 10%;
  border-color: rgba(40, 40, 40, 0.2);
  font-size: 16px;
  color: rgb(75, 75, 75);
} 

.Custom-Button-talking-click {
  border-radius: 5px;
  width: 250px;
  height: 50px;
  text-align: left;
  padding: 10px;
  background: url(../../IMAGES/custom/rightButton.png)  90% no-repeat, rgba(74, 74, 74, 0.5);
  background-size: 10%;
  border-color: rgba(40, 40, 40, 0.2);
  font-size: 16px;
  color: rgb(75, 75, 75);
} 



div[id="ForTitleFioField"] {
  height: 20%;
}

.flex-box-script {
  border-radius: 2px;
  background: white;
  color: rgb(75, 75, 75);
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: bolder;
  box-shadow: 0px 0px 50px 50px rgb(255, 255, 255);  
  position: relative;
  left: 50px;
}

.flex-box-script button{
  position: relative;
}

.flex-box-script ul{
  color: rgb(75, 75, 75);
}

div[id="ImgForActivity"],div[id="ImgForCalls"],div[id="ImgForProduct"] {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 40%;
  height: 25px;
  font-size: 25px;
  color: rgb(75, 75, 75);
  font-weight: lighter;
  z-index: 99;
}

div[id="divCustomImgProduct"] {
  padding: 5px;
  background: url(../../IMAGES/custom/IconsForApplets/product.png) left no-repeat;
  background-size: 90%;
  width: 30px;
  height: 30px;
}

div[id="divCustomImgCalls"] {
  padding: 5px;
  background: url(../../IMAGES/custom/IconsForApplets/calls.png) left no-repeat;
  background-size: 90%;
  width: 30px;
  height: 30px;
}

div[id="divCustomImgActive"] {
  padding: 5px;
  background: url(../../IMAGES/custom/IconsForApplets/activities.png) left no-repeat;
  background-size: 90%;
  width: 30px;
  height: 30px;
}

div[id="divCustomTitle"], div[id="divCustomTitle"], div[id="divCustomTitleCalls"] {
  padding: 5px;
}

.space-div-custom {
  height: 27px;
  background: white;
  box-shadow: 0px 0px 20px 20px rgb(255, 255, 255); 
}

[aria-labelledby="FullAddress_Label"] {
  width: 400px !important;
  border: 0px !important;
  background: none !important;
  color: rgba(235, 235, 245, 0.9) !important;
}


/*END CUSTOM APPLET <<<<<*/


/*REWRITE AURORA THEME >>>>>*/
div[class="CmdTxt"] {
  background: rgb(230, 230, 235) !important;
}

/*делаем шире*/
div[class="ui-state-default ui-jqgrid-hdiv"] {
  background: rgb(230, 230, 235) !important;
}

/*activities*/
/*activities*/
div[id="S_A1"] {
  background: linear-gradient(180deg, rgb(230, 230, 235) 93.9%, white 93.9%, white 100%);;
  border: 7px solid white;
}

/*calls*/
div[id="S_A2"] {
  background: linear-gradient(180deg, rgb(230, 230, 235) 87.2%, white 87.2%, white 100%);;
  border: 7px solid white;
}

/*product*/
div[id="S_A5"] {
  background: linear-gradient(180deg, rgb(230, 230, 235) 87.2%, white 87.2%, white 100%);;
  border: 7px solid white;
}


/*фиксированная высота апплетов >>>>>>*/
/*activities*/
div[id="gview_s_1_l"] div[class="ui-jqgrid-bdiv"] {
  height: 390px !important;
  background: rgb(230, 230, 235) !important;
}

/*calls*/
div[id="gview_s_2_l"] div[class="ui-jqgrid-bdiv"] {
  height: 115px !important;
  background: rgb(230, 230, 235) !important;
}

/*product*/

div[id="gview_s_5_l"] div[class="ui-jqgrid-bdiv"] {
  height: 115px !important;
  background: rgb(230, 230, 235) !important;
}

/*фиксированная высота апплетов <<<<<<*/


div[id="pager_s_1_l"] div[id="pg_pager_s_1_l"] table, div[id="pager_s_2_l"] div[id="pg_pager_s_2_l"] table, div[id="pager_s_5_l"] div[id="pg_pager_s_5_l"] table,
div[class="siebui-span-lg-3 siebui-span-md-3 siebui-span-sm-12"],
div[class="AppletHIListBorder siebui-applet-content siebui-collapsible siebui-collapsible-applet-content"], div[class="siebui-span-lg-6 siebui-span-md-6 siebui-span-sm-12"],
div[id="s_S_A1_div"], div[id="s_S_A2_div"], div[id="s_S_A5_div"] { 
  
  background: transparent !important; 
}

/*delete shadow*/
div[id="s_S_A4_div"], div[id="s_S_A3_div"], div[id="s_S_A1_div"], div[id="s_S_A2_div"], div[id="s_S_A5_div"] {
  box-shadow: 0 0 !important;
}

/*delete active applet shadow*/
div[id="s_S_A1_div"]:focus, div[id="s_S_A2_div"]:focus, div[id="s_S_A5_div"]:focus, div[id="s_S_A4_div"]:focus {
  box-shadow: 0 0 !important;
}



.siebui-appletmenu-btn::before {
  content: url(../../IMAGES/custom/settingsON.png);
  opacity: .5;
}

.siebui-applet .siebui-applet-header div span {
  opacity: 0;
}

div[class="siebui-btn-grp-applet"] span[id="s_4_rc"], div[class="siebui-btn-grp-applet"] span[id="s_4_1_200_0"] a,
div[class="siebui-btn-grp-applet"] span[id="s_4_1_199_0"] a {
  color: rgba(235, 235, 245, .9) !important;
}

.siebui-applet .siebui-applet-header div:hover span  {
  opacity: 1;
}

.siebui-applet .siebui-applet-header div, .siebui-applet .siebui-applet-header span {
  display: initial;
  padding: 0 1px;
  font-weight: 200;
}


td[id="pager_s_1_l_center"], td[id="pager_s_5_l_center"], td[id="pager_s_2_l_center"] {
  opacity: 0;
}

td[id="pager_s_1_l_center"]:hover, td[id="pager_s_5_l_center"]:hover, td[id="pager_s_2_l_center"]:hover{
  opacity: 1;
}

.siebui-applet .siebui-applet-header{
 min-height: 5px !important;
 display: initial !important;
 background: transparent !important;
}

.siebui-applet .AppletButtons button {
  margin: 0 !important;
}

/*BG for top applet*/
div[id="s_S_A4_div"] {
  background: url(../../IMAGES/custom/bg-smooze.jpg) !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
  overflow-x: hidden !important;
}

div[id="s_S_A4_div"] form[name="SWEForm4_0"] div[class="AppletBack AppletHIFormBorder"] div[class="siebui-applet-header siebui-collapsible AppletButtons siebui-form-applet-header siebui-collapsible-applet-header"],
div[id="s_S_A4_div"] form[name="SWEForm4_0"] div[class="AppletBack AppletHIFormBorder"] div[class="AppletButtons siebui-applet-buttons"], span[class="ui-jqgrid-resize ui-jqgrid-resize-ltr"] {
  background: transparent !important;
}
/*BG for top applet*/


.AppletButtons, .siebui-applet-buttons {
  text-indent: 1% !important;
}

.ui-jqgrid .ui-jqgrid-btable .ui-state-highlight td {
  background-color: rgba(75, 75, 75, .3) !important;
}

.ui-jqgrid-bdiv, .ui-jqgrid-btable, [role="gridcell"], .ui-pg-table, [title="Activities List Applet"],
[title="Calls List Applet"], [role="row"], [role="region"] {
  background: rgba(230, 230, 235) !important;
}

.AppletButtons, .siebui-applet-buttons, [role="rowheader"] {
  background: rgb(230, 230, 235) !important;
}

.ui-state-default, .ui-jqgrid-pager, .ui-corner-bottom, .siebui-applet-footer,
.AppletButtons, .siebui-applet-buttons {
  border-bottom: none !important;
  border-top: none !important;
}

/*END REWRITE AURORA THEME <<<<<*/


/*HIDE SIEBEL ELEMENTS >>>>>*/ /*, .siebui-applet .siebui-applet-header div КНОПКИ ЛИСТАЛКИ*/

input[aria-labelledby="WorkPhoneNum_Label"], input[aria-labelledby="LastName_Label"], input[aria-labelledby="FirstName_Label"],
input[aria-labelledby="MiddleName_Label"], input[aria-labelledby="M/M_Label"], span[class="siebui-icon-date applet-form-date applet-list-date"][id="s_4_1_17_0_icon"][aria-label="Date Field"],
span[class="siebui-icon-dropdown applet-form-combo applet-list-combo"][id="s_4_1_128_0_icon"], div[class="siebui-applet-title"],
div[class="siebui-btn-grp-search"], span[id="LabelForScript_Label"], div[class="mceGridLabel siebui-label mceLabel"], input[aria-labelledby="M/M_Label"], span[id="s_4_1_129_0_icon"],
button[class="siebui-appletmenu-btn"][title="Activities Menu"] span, button[class="siebui-appletmenu-btn"][title="Calls Menu"] span, button[class="siebui-appletmenu-btn"][title="Products Menu"] span,
button[class="siebui-appletmenu-btn"][aria-label="Script:Menu"], span[id="s_3_rc"][class="siebui-row-counter"], div[class="siebui-applet-header siebui-collapsible AppletButtons siebui-form-applet-header siebui-collapsible-applet-header"] div[class="siebui-applet-title"]

{display: none !important;}

/*END HIDE SIEBEL ELEMENTS <<<<<*/



/*CUSTOM BOTTOM APPLET >>>>>*/
.content-bottom-main{
  display: block;
  justify-content: space-around;
}

 .flex-box-space{
  height: 3px;

}

.content-1 {
  background: rgba(230, 230, 235, 1);
  height: 90px;
  display: flex;
  justify-content: space-around;}

.content-fix {
  width: 50%;
  display: flex;
  justify-content: space-between;}

.flex-box-bottom-1{
height: 30px;
 display: flex;
 justify-content: space-around;
 background: rgba(10, 10, 10, .9);
}

.flex-box-bottom-2{
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  color: rgba(230, 230, 235, .7);
}


/* EFFECT NUMBER 1 - DISCO >>>>>*/
svg {
  position: initial;
  width: 90px;
  height: 90px;}

svg rect {
  fill: none;
  stroke: rgb(74, 74, 74);
  stroke-width: 10;
  stroke-dasharray: 80, 300;
  stroke-dashoffset: 220;
  transition: all 0.2s ease-in-out;}

.animation-button-1, .animation-button-2, .animation-button-3,
.animation-button-4, .animation-button-5, .animation-button-6,
.animation-button-7 {
  width: 90px;
  vertical-align: text-top;
  background-blend-mode: overlay;
  cursor:pointer;
  position: relative;}

.animation-button-1 {
  background: url("../../IMAGES/custom/icons/search.png") center 40% no-repeat, rgba(230, 230, 235, .4);
  background-size: 55%;}
.animation-button-1:hover {
  background: url("../../IMAGES/custom/icons/search.png") center 17% no-repeat, rgba(230, 230, 235, .4);
  background-size: 40%;}

.animation-button-2 {
  background: url("../../IMAGES/custom/icons/chat.png") center 45% no-repeat, rgba(230, 230, 235, .4);
  background-size: 60%;}
.animation-button-2:hover {
  background: url("../../IMAGES/custom/icons/chat.png") center 20% no-repeat, rgba(230, 230, 235, .4);
  background-size: 40%;}

.animation-button-3 {
  background: url("../../IMAGES/custom/icons/laptop.png") center 37% no-repeat, rgba(230, 230, 235, .4);
  background-size: 60%;}
.animation-button-3:hover {
  background: url("../../IMAGES/custom/icons/laptop.png") center 20% no-repeat, rgba(230, 230, 235, .4);
  background-size: 40%;}

.animation-button-4 {
  background: url("../../IMAGES/custom/icons/maps.png") center 40% no-repeat, rgba(230, 230, 235, .4);
  background-size: 40%;}
.animation-button-4:hover {
  background: url("../../IMAGES/custom/icons/maps.png") center 17% no-repeat, rgba(230, 230, 235, .4);
  background-size: 30%;}

.animation-button-5 {
  background: url("../../IMAGES/custom/icons/flag.png") center 40% no-repeat, rgba(230, 230, 235, .4);
  background-size: 45%;}
.animation-button-5:hover {
  background: url("../../IMAGES/custom/icons/flag.png") center 20% no-repeat, rgba(230, 230, 235, .4);
  background-size: 33%;}

.animation-button-6 {
  background: url("../../IMAGES/custom/icons/money.png") center 40% no-repeat, rgba(230, 230, 235, .4);
  background-size: 47%;}
.animation-button-6:hover {
  background: url("../../IMAGES/custom/icons/money.png") center 20% no-repeat, rgba(230, 230, 235, .4);
  background-size: 35%;}

.animation-button-7 {
  background: url("../../IMAGES/custom/icons/active.png") center 37% no-repeat, rgba(230, 230, 235, .4);
  background-size: 47%;}
.animation-button-7:hover {
  background: url("../../IMAGES/custom/icons/active.png") center 17% no-repeat, rgba(230, 230, 235, .4);
  background-size: 35%;}
               
/* ANIMATION FOR 7 BUTTONS >>>>>*/
.animation-button-1 p, .animation-button-2 p, .animation-button-3 p,
.animation-button-4 p, .animation-button-5 p, .animation-button-6 p,
.animation-button-7 p {
    vertical-align: text-top;
    position: relative;
    top: -50px;
    color: rgba(74, 74, 74, 0);
    text-align: center;
    font-size: 11.5px;
    font-weight: lighter;
    opacity: 0;
    transition: all 0.2s ease-out;}
.animation-button-1:hover p, .animation-button-2:hover p, .animation-button-3:hover p,
.animation-button-4:hover p, .animation-button-5:hover p, .animation-button-6:hover p,
.animation-button-7:hover p  {
    opacity: 1;
    color: rgba(74, 74, 74, .7);
    transition: all 0.5s ease-in;
    z-index: 10;}
.animation-button-1:hover svg rect,.animation-button-2:hover svg rect,.animation-button-3:hover svg rect,
.animation-button-4:hover svg rect,.animation-button-5:hover svg rect,.animation-button-6:hover svg rect,
.animation-button-7:hover svg rect {
    stroke: rgba(74, 74, 74, 0.9);
    stroke-width: 3;
    stroke-dasharray: 400, 0;
    transition: all 0.5s ease-in-out;
    animation: pulse 1.5s linear infinite;
    opacity: 0;}
.animation-button-1:active, .animation-button-2:active, .animation-button-3:active,
.animation-button-4:active, .animation-button-5:active, .animation-button-6:active,
.animation-button-7:active {top: 1px;left: 1px;}
                  
@keyframes pulse {
  0% {
   opacity: .5;
   fill:  rgba(255, 255, 255, .3);
   stroke: rgba(0, 102, 255, 0.5);  }
  25%{
    opacity: .7;
    fill:  rgba(255, 255, 255, .4);
    stroke: rgba(255, 0, 76, 0.5);  }
  50% {
   opacity: 1;
   fill:  rgba(255, 255, 255, .5);
   stroke: rgba(255, 208, 0, 0.5);  }
  75%{
    opacity: .7;
    fill:  rgba(255, 255, 255, .3);
    stroke: rgba(15, 150, 66, 0.5);  }
  100% {
   opacity: .5;
   fill:  rgba(255, 255, 255, .5);
   stroke: rgba(255, 0, 55, 0.5);  }
 }
/* END 7 BUTTONS <<<<<*/
/* END EFFECT NUMBER 1 */

/*END CUSTOM BOTTOM APPLET <<<<<*/


/*TEXT for MAIN APPLET >>>>>*/
input[aria-labelledby="FullNameCustom_Label"] {
  background: transparent  !important;
  border: 0px !important;
  font-size: 36px;
  font-weight: bolder;
  width: 400px !important;
  color: rgba(245, 245, 255, .9) !important;
}

[aria-labelledby="ImgForCalls_Label"], [aria-labelledby="ImgForProduct_Label"],[aria-labelledby="ImgForActivity_Label"]{
  background: transparent  !important;
  border: 0px !important;
}


span[id="NewAdressUser_Label"], span[id="AboutInfo_Label"],
span[id="UserSex_Label"], span[id="Birthday_Label"], input[aria-labelledby="Birth_Date_-_Auto_Label"],
span[id="SignificantDates_Label"], input[aria-labelledby="FullAddress_Label"], span[id="UserYears_Label"] {
  font-size: 16px;
  color: rgba(235, 235, 245, .7) !important;
}

span[id="SignificantDates_Label"], span[id="NewAdressUser_Label"], 
span[id="UserSex_Label"], span[id="Birthday_Label"], span[id="UserYears_Label"] {
  font-weight: bolder;
  color: rgba(235, 235, 245, .9) !important;
}

span[id="SignificantDates_Label"], span[id="NewAdressUser_Label"] {
  border-bottom: 2px solid rgba(250, 65, 110, 0.8);
  color: rgba(235, 235, 245, .9) !important;
}

span[id="Birthday_Label"]{
  background-color: rgba(250, 65, 110, 0.5);
  color: rgba(235, 235, 245, .9) !important;
}

[aria-labelledby="Birth_Date_-_Auto_Label"]{
  border: 0px !important;
  background: none !important;
  color: rgba(235, 235, 245, .9) !important;
}
/*END TEXT for MAIN APPLET <<<<<*/





