.CustomContact, .AppletBack, .AppletHIFormBorder {
  background-color: aqua;
}




/*other*/
.btn-danger{
    color: white;
    background-color:rgba(45, 105, 220, 0.8);
    border-color:rgba(40, 75, 140, 0.6);
    border-radius: 3px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(10, 15, 20, 0.5);
}

.btn-danger:hover{
    color: white;
    background-color:rgba(20, 55, 120, 0.8);
    border-color:rgba(40, 75, 140, 0.6);
    border-radius: 3px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(10, 15, 20, 0.5);
    cursor:pointer;
    box-shadow:0 0 0 .2rem rgba(83, 185, 225, 0.2);
    animation: shake_button 500ms ease-in-out forwards;
}

.btn-danger:focus{
  box-shadow:0 0 0  .2rem rgba(44, 78, 230, 0.2);
  background-color:rgba(118, 120, 128, 0.8);
  border-color:rgba(96, 109, 129, 0.8);
}

.GridBorder {
    background-color: rgba(21, 31, 44, 0.9);
}


@keyframes shake_button {
    0% { 
      transform: rotate(2deg);
    }
    25% {
      transform: rotate(0deg);
     }
    50% {
     transform: rotate(-2deg);
    }
    75% {
      transform: rotate(3deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }